{{>home-jumbotron}}
<div class="title">
    <h1>Dashboard</h1>
</div>
<Div class="container">
    <ol class="posts">
        {{#each posts as |post|}}
        <div class="row">
            <li>{{>post-dashboard post}}</li>
        </div>
        {{/each}}
    </ol>
</Div>
<div>
    <h3>Create New Post</h2>
</div>
<div class="new-post">
    <input type="text" id="post-title" placeholder="Enter Title Here">
</div>
<div class="new-post">
    <input type="url" id="post-url" placeholder="Enter URL Here" class="mt-3">
</div>
<div>
    <textarea class='mt-3' name="post-content" id="post-content" cols="30" rows="10" placeholder="Enter Post Content Here"></textarea>
</div>
<div class="btn mt-3">
<button type="submit" id="submit-post">Submit</button>
</div>

<script src='/js/post.js'></script>
