{{>home-jumbotron}}

<form class="login-form">
    <h2>Welcome back! Login</h2>
    <div class="form-group">
        <label for="username-login">Username</label>
        <input type="text" class="form-control" placeholder="Enter username" id="username-login">
    </div>
    <div class="form-group">
        <label for="password-login">Password</label>
        <input type="password" class="form-control" placeholder="Password" id="password-login">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<form class="signup-form">
    <h3>Not a member?  Sign Up!</h3>
    <div class="form-group">
        <label for="username-signup">Username</label>
        <input type="text" id="username-signup" placeholder="Username">
    </div>
    <br>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email-signup" placeholder="Email">
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password-signup" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/login.js"></script>