.jumbotron {
  background-image: url(../images/jumbrotron.jpeg);
}

.jumbo-title {
  color: white;
}
.nav {
  color: white;
  display: inline;
  font-size: large;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.post-title {
  color: black;
}
.post-date {
  color: green;
}
