.jumbotron {
  background-image: url(../images/jumbrotron.jpeg);
}

.jumbo-title {
  color: white;
}
.nav {
  color: white;
  display: inline;
  font-size: large;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.post-title,
.comments {
  color: black;
}
.post-date {
  color: rgb(221, 221, 221);
}
body {
  background-color: rgb(77, 102, 60);
}
